 div.imagen{
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1%;
 }
 .imagen > img {
    width: 20%;
    height: 100%;
    display:flex;
    border-radius: 20%;

  }
  .containerDetail{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1%;
    gap: 10px;
    

  }
